# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [214]:
import seaborn as sns
import pandas as pd

In [215]:
df = pd.read_csv('demo01.csv')

print('Quantidade total de linhas: {}'.format(len(df)))
print('Número de linhas duplicadas: {}'.format(df.duplicated().sum()))

Quantidade total de linhas: 16650
Número de linhas duplicadas: 9880

In [216]:
df.shape

(16650, 16)

In [217]:
df.drop_duplicates(inplace=True)
print('\nQuantidade de linhas após remoção: {}'.format(len(df)))

df.reset_index(drop=True, inplace=True)
df

Quantidade de linhas após remoção: 6770

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
3,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False
4,F,N,Y,0,Working,Secondary / secondary special,Married,House / apartment,27.482192,4.024658,1,0,1,0,2.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6765,F,N,Y,1,Working,Secondary / secondary special,Single / not married,House / apartment,34.857534,3.101370,1,1,1,0,1.0,True
6766,F,N,Y,0,Working,Secondary / secondary special,Civil marriage,House / apartment,54.109589,9.884932,1,0,0,0,2.0,True
6767,F,N,Y,0,Commercial associate,Secondary / secondary special,Married,House / apartment,43.389041,7.380822,1,1,1,0,2.0,True
6768,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,30.005479,9.800000,1,1,0,0,2.0,True
6769,F,N,Y,0,Pensioner,Higher education,Married,House / apartment,33.936986,3.630137,1,0,1,1,2.0,True

In [218]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6770 entries, 0 to 6769
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   6770 non-null   object
 1   posse_de_veiculo       6770 non-null   object
 2   posse_de_imovel        6770 non-null   object
 3   qtd_filhos             6770 non-null   int64
 4   tipo_renda             6770 non-null   object
 5   educacao               6770 non-null   object
 6   estado_civil           6770 non-null   object
 7   tipo_residencia        6770 non-null   object
 8   idade                  6770 non-null   float64
 9   tempo_emprego          6770 non-null   float64
 10  possui_celular         6770 non-null   int64
 11  possui_fone_comercial  6770 non-null   int64
 12  possui_fone            6770 non-null   int64
 13  possui_email           6770 non-null   int64
 14  qt_pessoas_residencia  6770 non-null   float64
 15  mau                    6770 non-null   bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 800.1+ KB

In [219]:
df.shape

(6770, 16)

In [220]:
print('\nVariáveis:')
df.columns

Variáveis:

Index(['sexo', 'posse_de_veiculo', 'posse_de_imovel', 'qtd_filhos',
       'tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia', 'idade',
       'tempo_emprego', 'possui_celular', 'possui_fone_comercial',
       'possui_fone', 'possui_email', 'qt_pessoas_residencia', 'mau'],
      dtype='object')

In [221]:
print('\n Tipo de dados:')
df.dtypes

 Tipo de dados:

sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [222]:
print('\n Quantidade de dados faltantes:')

df.isna().sum()

 Quantidade de dados faltantes:

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [223]:
print('Quantidade de dados Duplicados:')
df.duplicated().sum()

Quantidade de dados Duplicados:

0

In [224]:
print('Maus Pagadores:')
print(df.value_counts('mau'))

print('\npercentual da variável resposta (mau):')
print(df.mau.value_counts(normalize=True) * 100)

Maus Pagadores:
mau
False    6472
True      298
dtype: int64

percentual da variável resposta (mau):
False    95.598227
True      4.401773
Name: mau, dtype: float64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [225]:
df_meta = pd.DataFrame(data=df.dtypes.reset_index())
df_meta.columns = ['nome_variável', 'tipo_dados']
df_meta

            nome_variável tipo_dados
0                    sexo     object
1        posse_de_veiculo     object
2         posse_de_imovel     object
3              qtd_filhos      int64
4              tipo_renda     object
5                educacao     object
6            estado_civil     object
7         tipo_residencia     object
8                   idade    float64
9           tempo_emprego    float64
10         possui_celular      int64
11  possui_fone_comercial      int64
12            possui_fone      int64
13           possui_email      int64
14  qt_pessoas_residencia    float64
15                    mau       bool

In [226]:
qtd_categorias = []

for coluna in df.columns:
    qtd_categorias.append(df[coluna].nunique())

df_meta['qtd_categorias'] = qtd_categorias
df_meta

            nome_variável tipo_dados  qtd_categorias
0                    sexo     object               2
1        posse_de_veiculo     object               2
2         posse_de_imovel     object               2
3              qtd_filhos      int64               8
4              tipo_renda     object               5
5                educacao     object               5
6            estado_civil     object               5
7         tipo_residencia     object               6
8                   idade    float64            5298
9           tempo_emprego    float64            3005
10         possui_celular      int64               1
11  possui_fone_comercial      int64               2
12            possui_fone      int64               2
13           possui_email      int64               2
14  qt_pessoas_residencia    float64               9
15                    mau       bool               2

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [228]:
df_dummies = pd.get_dummies(df.copy(),
                            columns=['sexo',
                                     'posse_de_veiculo',
                                     'posse_de_imovel',
                                     'tipo_renda',
                                     'educacao',
                                     'estado_civil',
                                     ],
                            drop_first = True)

df_dummies = pd.get_dummies(data=df_dummies)

print(df_dummies.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6770 entries, 0 to 6769
Data columns (total 30 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   qtd_filhos                              6770 non-null   int64
 1   idade                                   6770 non-null   float64
 2   tempo_emprego                           6770 non-null   float64
 3   possui_celular                          6770 non-null   int64
 4   possui_fone_comercial                   6770 non-null   int64
 5   possui_fone                             6770 non-null   int64
 6   possui_email                            6770 non-null   int64
 7   qt_pessoas_residencia                   6770 non-null   float64
 8   mau                                     6770 non-null   bool
 9   sexo_M                                  6770 non-null   uint8
 10  posse_de_veiculo_Y                      6770 non-null   uint8
 11  posse_de_imovel_Y                       6770 non-null   uint8
 12  tipo_renda_Pensioner                    6770 non-null   uint8
 13  tipo_renda_State servant                6770 non-null   uint8
 14  tipo_renda_Student                      6770 non-null   uint8
 15  tipo_renda_Working                      6770 non-null   uint8
 16  educacao_Higher education               6770 non-null   uint8
 17  educacao_Incomplete higher              6770 non-null   uint8
 18  educacao_Lower secondary                6770 non-null   uint8
 19  educacao_Secondary / secondary special  6770 non-null   uint8
 20  estado_civil_Married                    6770 non-null   uint8
 21  estado_civil_Separated                  6770 non-null   uint8
 22  estado_civil_Single / not married       6770 non-null   uint8
 23  estado_civil_Widow                      6770 non-null   uint8
 24  tipo_residencia_Co-op apartment         6770 non-null   uint8
 25  tipo_residencia_House / apartment       6770 non-null   uint8
 26  tipo_residencia_Municipal apartment     6770 non-null   uint8
 27  tipo_residencia_Office apartment        6770 non-null   uint8
 28  tipo_residencia_Rented apartment        6770 non-null   uint8
 29  tipo_residencia_With parents            6770 non-null   uint8
dtypes: bool(1), float64(3), int64(5), uint8(21)
memory usage: 568.7 KB
None

In [233]:
df_dummies.mau = df_dummies.mau.astype(int)
df_dummies.dtypes

qtd_filhos                                  int64
idade                                     float64
tempo_emprego                             float64
possui_celular                              int64
possui_fone_comercial                       int64
possui_fone                                 int64
possui_email                                int64
qt_pessoas_residencia                     float64
mau                                         int32
sexo_M                                      uint8
posse_de_veiculo_Y                          uint8
posse_de_imovel_Y                           uint8
tipo_renda_Pensioner                        uint8
tipo_renda_State servant                    uint8
tipo_renda_Student                          uint8
tipo_renda_Working                          uint8
educacao_Higher education                   uint8
educacao_Incomplete higher                  uint8
educacao_Lower secondary                    uint8
educacao_Secondary / secondary special      uint8
estado_civil_Married                        uint8
estado_civil_Separated                      uint8
estado_civil_Single / not married           uint8
estado_civil_Widow                          uint8
tipo_residencia_Co-op apartment             uint8
tipo_residencia_House / apartment           uint8
tipo_residencia_Municipal apartment         uint8
tipo_residencia_Office apartment            uint8
tipo_residencia_Rented apartment            uint8
tipo_residencia_With parents                uint8
dtype: object

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [245]:
pd.crosstab(df_dummies['possui_email'], df_dummies['posse_de_veiculo_Y'])

posse_de_veiculo_Y     0     1
possui_email
0                   3878  2327
1                    333   232

A variável posse de veículo, parece possuir um maior valor para prever se um cliente é bom ou mau pagador. Visto que aparece com mais peso na base, enquanto que a variável possui email aparece em menor peso.

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [274]:
df_dummies.to_csv('Point/demo01_encoded.csv', sep = ',', index = True )